#birthday{
    color: rebeccapurple;
    font-size: 20px;
}
.friend{
    background-color: red;
}
h3{
    text-align: center;
}

.special:hover{
    color: indianred;
    background-color: lawngreen;
    font-size: 60px;
}
input:focus{
    color: lawngreen;
    font-weight: 700px;
    font-size: 30px;
}
li:nth-child(2n){
    background-color: indianred;
}
a:visited{
    color: rgb(255, 6, 6);
}
.blog{
    border: 2px solid rebeccapurple;
    border-radius: 20px;
    margin: 40px;
    width: 20%;
    float: left;
    padding: 10px;
    text-align: justify;
}